name: Metrics
on:
  schedule: [{cron: "0 */12 * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: github-metrics.svg 
          committer_branch: output     
          base: header, activity, community, repositories, metadata
          plugin_isocalendar: yes      
          plugin_languages: yes        
          config_timezone: America/Sao_Paulo
